*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --color-prime:grey;
    --color-main:red;
}

.app-container{
    height: 100vh;
    background: radial-gradient(white,rgb(227, 220, 238),rgb(135, 35, 229));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heart-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grey-heart{
    height: 200px;
    width: 200px;
    background-color: var(--color-prime);
    transform: rotate(-45deg);
    position: relative;
    top: 0;
    cursor: pointer;
    box-shadow: 0px 10px 100px rgb(99, 75, 42);
}

.grey-heart::before,.grey-heart::after{
    content: '';
    position: absolute;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-color: var(--color-prime);
}

.grey-heart::before{
    top: -100px;
    left: 0;
}

.grey-heart::after{
    left: 100px;
    top: 0;
}

.red-heart{
    height: 200px;
    width: 200px;
    background-color: var(--color-main);
    transform: rotate(-45deg);
    position: absolute;
    visibility: hidden;
    cursor: pointer;
    box-shadow: 0px 10px 100px rgb(99, 75, 42);
}

.red-heart::before,.red-heart::after{
    content: '';
    position: absolute;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-color: var(--color-main);
}

.red-heart::before{
    top: -100px;
    left: 0;
}

.red-heart::after{
    left: 100px;
    top: 0;
}

.red-heart.animation {
    animation: pop 1s linear;
    visibility: visible;
}

.red-heart.fill-color{
    background: var(--color-main);
}

@keyframes pop {
    100%{
        transform: scale(1.2) rotate(-45deg);
        opacity: 0;
    }
}

p{
    font-size: 26px;
    padding-top: 50px;
    font-weight: bold;
}

.msg{
    font-style: italic;
    background: linear-gradient(90deg, #c026dc, #f62d04,rgb(210, 95, 114)); 
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;
    background-clip: text;          
    color: transparent;
}